.input{
    width: 230px;
    height: 25px;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
    padding: 5px;
}

.btn{
    width: 35px;
    height: 35px;
    background-color: rgb(129, 3, 247);
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(129, 3, 247) ;
    margin: 5px;
    position: relative;
    top: 3px
}