.footer{
    padding: 10px;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__btn{
    border: 0px;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    background-color: rgb(129, 3, 247);
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.footer__btn.show{
    border: 0px;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    background-color: rgb(129, 3, 247);
    color: white;
    font-size: 14px;
    cursor: pointer;
    display:none
}