.background{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1536px;
  height: 732px;
  background: radial-gradient(circle, rgb(142, 250, 230), rgb(99, 148, 223), rgb(197, 150, 227));
}

.App{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.app_ul{
  padding: 20px 0px 0px 0px;
  margin: 0px;
}